<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Player List</title>
  <link href="/styles/styles.css" rel="stylesheet" ></link>
  <link href="/styles/tablet.css" rel="stylesheet" ></link>
</head>
<body>
<main>
  <header class="header">
    <h1 class="header__title">
      All the news - All the time
    </h1>
    <h2 class="header__subtitle">
      Welcome to my personal news outlet
    </h2>
    <nav class="header__nav">
      <button class="header__nav-button">Breaking</button>
      <button class="header__nav-button">International</button>
      <button class="header__nav-button">Sports</button>
    </nav>
  </header>
  <section class="player-section">
    <h2 class="player-section__title">
      Players
    </h2>
    <div class="player-section__article-container" >
      <article th:each="player : ${players}"  class="player-article">
        <img class="player-article__image" th:src="${player.imageURL}" alt="Sample Image">
        <div class="player-article__content">
          <p th:text="'Position: ' + ${player.position}">Position: Player Position</p>
          <p th:text="'Games: ' + ${player.games}">Games: Player Games</p>
          <p th:text="'Goals: ' + ${player.goals}">Goals: Player Goals</p>
        </div>
      </article>
    </div>
  </section>
</main>
</body>
</html>

